body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Темная тема */
.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode button {
    background-color: #ff4444;
}

.dark-mode button:hover {
    background-color: #cc0000;
}

/* Экран победы */
#win-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 30px;
    border-radius: 10px;
}
