#game-container {
    display: none; /* По умолчанию скрыто */
    margin-top: 20px;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}
